*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* The header */
header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo img {
    width: 150px;
}

.nav-links{
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    transition: 0.3s;
    font-weight: bold;
}

.nav-links a:hover {
    color: #12c586;
}

.heros {
    height: 100vh;
    background-image: url(images/0G2A8223.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    padding: 20px;
    color: white;
    position: relative;
}

.hero-buttons {
    margin-top: 30px;
    display: flex;
    gap: 40px;
    position: relative;
    z-index: 2;
}

.hero-buttons a {
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
}

.btn {
    padding: 12px 25px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.button1 {
    background: #5A2D7E;
    color: rgb(255, 255, 255);
}

.button2{
    background: rgb(192, 211, 82);
    color: rgb(255, 255, 255);
}

.button3{
    background: white;
    color: black;
}

.btn:hover {
    transform: scale(1.05);
    background-color: #2b0057;
    color: #eaeaea;
}


.explore {
    margin-top: 30px;
    color: #0BA7A2;
    text-align: center;
}

.explore-title {

    color: #4c007f;
    text-align: center;
}

.all_in_line {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 40px;

}

.all_in_line h3{
    color: #480c83;
}

.all_in_line img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 6px;
    display: block;
    margin: 0 auto; /
}

.all_in_line p{
    font-size: 15px;
    color: #555;
    margin: 0 18px 20px 18px;
    line-height: 1.5;
}

.all_in_line a {
    border-radius: 5px;
    background: rgb(171, 185, 93);
    color: black;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    transition: 0.3s;
    gap: 40px;
    position: relative;
    z-index: 2;
    font-weight: normal;
}

/* This is the section for  refactory academy inthe main */
.academic-section {
    display: flex;  /* making the sections to be in horizontal way.*/
    justify-content: space-between; 
    align-items: center;
    padding: 60px 80px;
    gap: 40px;
    background: #F5F7FA;
}

.Academic-content {
    width: 50%;
}

.Academic-content h1 {
    font-size: 42px;
    font-weight: 800;
    color: #5A2D7E;
    margin-bottom: 10px;
}

.Academic-content a{
    border-radius: 5px;
    background: rgb(171, 185, 93);
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 24px;
    transition: 0.3s;
    font-weight: normal;
}
.Academic-content h2 {
    font-size: 24px;
    color: #0BA7A2; 
    margin-bottom: 20px;
}

.academy-image img {
    width: 100%;
    border-radius: 6px;
    object-fit: cover;
}

/* All learn more into butoons */
.Learnmore{
    margin-top: 30; 
    display: inline-block;
    padding: 10px 20px;      
    background-color:rgb(171, 185, 93); 
    color: #000;             
    text-decoration: none;   
    border-radius: 8px;        
    font-weight: bold;
    transition: background-color 0.3s;
}
.Learnmore:hover {
    background-color: #5d7d3c; 
    transform: scale(1.05);
}

/* Social media icons */
.icons{
    display: flex;
    list-style: none;
    gap: 30px;
    size: 100px;
}
/* FOOTER BACKGROUND */
.footer {
    display: flex;
    justify-content: space-between;
    padding: 60px 80px;
    gap: 50px;

    background: linear-gradient(90deg, #2b0057, #4c007f);
    color: white;
}

/* Each column */
.footer-col {
    width: 23%;
}

.footer-col h2 {
    color: #16D1C4;
    font-size: 22px;
    margin-bottom: 15px;
}

.footer-col p,
.footer-col a,
.footer-col li {
    font-size: 16px;
    line-height: 1.6;
    color: #eaeaea;
}

.footer-col a {
    text-decoration: none;
}

.footer-col a:hover {
    color: #16D1C4;
}

/* Logo */
.footer-logo {
    width: 150px;
    margin-bottom: 20px;
}

/* Location link */
.location-link {
    color: #16D1C4;
    font-weight: bold;
    margin-top: 10px;
    display: inline-block;
}

/* Bottom divider section */
.footer-bottom {
    background: linear-gradient(90deg, #2b0057, #4c007f);
    text-align: center;
    color: white;
    padding-bottom: 30px;
}

.footer-bottom hr {
    width: 90%;
    margin: 0 auto 20px auto;
    border-color: rgba(255,255,255,0.3);
}
